/*! Place your custom styles here */

.nav-container {
background-color:white;
}

.btn btn--sm type--uppercase a {
color:black;
}

.menu-horizontal li {
	padding-left:10px;
	padding-right:10px;
}

.menu-horizontal li a {
color:blue;
}

.menu-horizontal li a:hover {
	color:#004ca4;
	padding:7px;
	border: 1px solid #004ca4;
	border-radius:4px;
}

.col-sm-6 img {
text-align:center;
}

.bg--primary-2 {
  background: #ff9000;
}

.bg--primary-3 {
  background: #26996f;
}

.btn--primary-2 {
	background:#218647;
	border:#218647;
}

.btn--primary-3 {
	background:#ff9000;
	border:#ff9000;
}

#mariusdescription {
	padding-top:2em;
}

.preparation {
	padding:5px;
}

#prof {
	padding-bottom:0em;
}
